@import "~bootstrap/scss/bootstrap.scss";

$color: red;



body {
  background: $color;
}

.gradient {
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
}

.block {
  width: 200px;
  height: 200px;
}